body {
  display: grid;
  background-color: rgb(13, 10, 35);
  /* background-image: url("https://img.freepik.com/free-photo/panoramic-view-sunset-night_23-2148933764.jpg"); */
  background-size: cover;
  justify-content: center;
  align-items: center;
}

#container {
  padding: 2em 2em;
}

#game-title {
  font-size: 5em;
  color: white;
  font-family: "Micro 5", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 0 0 1px #6462dd, 0 0 4px #6462dd, 0 0 8px #6462dd,
    0 0 14px #6462dd, 0 0 25px #6462dd;
}

#start {
  font-size: 1rem;
  border-color: #dc5098;
  background-color: transparent;
  color: white;
  padding: 0.5rem 1rem;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  border-radius: 10px;
  box-shadow: 0 0 10px #dc5098;
  margin-top: 0rem;
}

#start:disabled {
  background-color: transparent;
  color: transparent;
  border-color: transparent;
  box-shadow: 0 0 0px;
}

h2 {
  font-size: 1rem;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 0.3rem;
}

#player-one {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 120%;
}

#player-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 120%;
}

.player-name {
  font-size: 3em;
  font-weight: 700;
  font-family: "Micro 5", sans-serif;
  font-style: normal;
  color: white;
  text-transform: uppercase;
}

#player-one div.your-turn {
  font-size: 1rem;
  font-weight: 500;
  background-color: #e92288;
  border: 4px outset #dc5098;
  border-radius: 4px;
  color: white;
  opacity: 0;
  padding: 5px;
  text-transform: uppercase;
}

#player-two div.your-turn {
  font-size: 1rem;
  font-weight: 500;
  background-color: #3431be;
  border: 4px outset #6462dd;
  border-radius: 4px;
  color: white;
  opacity: 0;
  padding: 5px;
  text-transform: uppercase;
}

.capture-reserve-text {
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1.5rem;
  color: white;
}

.squares {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  width: 150px;
  border: 3px solid white;
  align-items: center;
  justify-content: center;
}

.tiles {
  display: flex;
  height: 125px;
  width: 125px;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Electrolize", sans-serif;
  font-weight: 400;
  font-stretch: 50%;
  text-transform: uppercase;
  padding: 20px;
}

.player1 {
  background-color: #e92288;
  border: 5px outset #dc5098;
  border-radius: 10%;
  color: white;
}

.player2 {
  background-color: #3431be;
  border: 5px outset #6462dd;
  border-radius: 10%;
  color: white;
}

.capture-reserve {
  display: flex;
  width: 50px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.capture-tiles {
  display: flex;
  height: 50px;
  width: 50px;
  border-width: 1.5px;
  font-size: 0.5rem;
  font-weight: 300;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.clickedtile.player1 {
  box-shadow: 0 0 5px 2px white, 0 0 5px 10px #dc5098;
  font-weight: 700;
}

.clickedtile.player2 {
  box-shadow: 0 0 5px 2px white, 0 0 5px 10px #6462dd;
  font-weight: 700;
}
