#container {
  padding: 2em 3em;
  background-image: url("https://i.pngimg.me/thumb/f/720/comrawpixel7524860.jpg");
  background-size: cover;
}

.solid-black {
  border: 1px solid black;
}

#game-title {
  font-size: 3em;
}

#player-one {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

#player-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.player-name {
  font-size: 1.5rem;
  font-weight: 700;
}

.player-one-text {
  background-color: white;
  border: 3px solid black;
  border-radius: 10px;
  padding: 0.3rem 0.3rem;
  color: black;
}

.player-two-text {
  background-color: black;
  border: 3px solid white;
  border-radius: 10px;
  padding: 0.3rem 0.3rem;
  color: white;
}

.your-turn {
  font-size: 1rem;
  font-weight: 500;
  color: red;
  opacity: 0;
  margin: 0.2rem 0.2rem;
}

.capture-reserve-text {
  font-weight: 600;
  margin-top: 2em;
}

.squares {
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  width: 150px;
  background-color: gray;
  border: 1px solid black;
  align-items: center;
  justify-content: center;
}

.tiles {
  display: flex;
  height: 125px;
  width: 125px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.player1 {
  background-color: white;
  border: black 5px solid;
  border-radius: 10%;
  color: black;
}

.player2 {
  background-color: black;
  border: white 5px solid;
  border-radius: 10%;
  color: white;
}

.capture-reserve {
  display: flex;
  width: 50px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.capture-tiles {
  display: flex;
  height: 50px;
  width: 50px;
  border-width: 2px;
  font-size: 0.7rem;
  align-items: center;
  justify-content: center;
  margin: 2px;
}

.clickedtile {
  border-color: red;
}
